    <!-- About Section -->
    <section id="about" class="container lead">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Me</h2>
              <br/>
                <p>I am a doctoral researcher in theoretical extragalactic astrophysics at the <a href="https://www.mv.helsinki.fi/home/phjohans/group-website/">University of Helsinki</a>, Finland. I completed my undergraduate in physics at the University of Southern Queensland, Australia. 

                  After completing a summer internship at the University of Sydney in observational extragalactic astrophyiscs, I moved to Helsinki to study my Master's in astrophysics, where I have been since.</p>

                <p>I work with computer simulations to model galaxy evolution, and in particular the evolution of the central supermassive black holes (SMBHs) of galaxies. We're trying to understand the dynamics of SMBHs to give predictions for how the gravitational wave emission will look to the upcoming Laser Interferometer Space Antenna (LISA). Gravitational waves are an exciting new avenue with which we can observe the Universe, and will allow us to understand SMBH evolution with unprecedented detail.</p>

                <p>In addition to astrophysics, I have a keen interest in Bayesian statistics. The computer simulations we use generate vast quantities of data, and only with a sound understanding of statistics can we draw actionable conclusions from our data.</p>

                <p>Outside of the academic world I enjoy cooking, albeit with mixed success. It's an iterative process, but there's something incredibly satisfying about putting together a tasty meal. I'm also an advocate of physical exercise, and enjoy regularly working out at the gym.</p>
                <br/>
              </div>
        </div>
    </section>
